{% extends "shop/base.html" %}
{% block content %}

<div class="container">

    <div class="row">
        <div class="carousel-item active">
            <img src="/media/hardcode/about/0.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
<!--                <h5 class="font-weight-bold">{{ text1 }}</h5>-->
<!--                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>-->
            </div>
        </div>
    </div>


    <div class="container col mt-4">
        <div class="row justify-content-center">
            <div class="col-xs-12 balloons ballons-center">
                <div></div>
                <div></div>
            </div>

            <h5 class="row main-row-title row-title-center text-warning font-weight-bold">
                О нас
            </h5>
        </div>

        <div class="container row about-row">
            <article class="col-lg-7 flex align-self-center">
                {{ about1 }}
            </article>
            <div class="container flex col-lg-5">
                <div class="flex">
                    <div class="flex about-mosaic justify-content-center">
                        <div class="">
                            <img src="/media/hardcode/about/1.jpg">
                        </div>
                        <div class="">
                            <img src="/media/hardcode/about/2.jpg">
                        </div>
                        <div class="">
                            <img src="/media/hardcode/about/3.jpg">
                        </div>
                        <div class="">
                            <img src="/media/hardcode/about/4.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row about-row">
            <div class="col-md-5 box-image">
                <img src="/media/hardcode/about/5.jpg">
            </div>
            <div class="col-md-7 align-self-center" style="padding-left: 60px;">
                <div>
                    <div class="about-info-title row">
						<img alt="" src="/media/hardcode/about/about-about.png"> <h4>О сервисе</h4>
                    </div>
                    <article class="about-info">
                        {{ about2 }}
                    </article>
                </div>
            </div>
        </div>

        <div class="row about-row">

            <div class="col-md-7 align-self-center">

                <div class="about-info-title row">
                    <img alt="" src="/media/hardcode/about/about-pay.png"> <h4>Для юридических лиц</h4>
                </div>

                <article class="about-info">
                    {{ about4 }}
                </article>

            </div>

            <div class="col-md-5 box-image">
                <img src="/media/hardcode/about/6.jpg">
            </div>

        </div>

        <div class="row about-row">

            <div class="col-lg-5">
                <div class="flex">
                    <div class="flex about-mosaic justify-content-center">
                        <div class="">
                            <img src="/media/hardcode/about/7.jpg">
                        </div>
                        <div class="">
                            <img src="/media/hardcode/about/8.jpg">
                        </div>
                        <div class="">
                            <img src="/media/hardcode/about/9.jpg">
                        </div>
                        <div class="">
                            <img src="/media/hardcode/about/10.jpg">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 align-self-center flex">
                <div class="about-info-title row">
                    <img alt="" src="/media/hardcode/about/about-delivery.png"> <h4>Доставка</h4>
                </div>

                <article class="about-info flex">
                    {{ about5 }}
                </article>
            </div>
        </div>
    </div>
</div>


</div>

</div>
{% endblock content %}
